{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Yanone+Kaffeesatz:wght@400;600&display=swap"
        rel="stylesheet">
    {% tailwind_css %}
    <style>
        :root {
            --custom-red: #e84949;
            --custom-border-grad:
        }

        .content {
            box-shadow: 15px 0px 50px 10px black;
        }

        .scanner {
            border: 10px solid;
            border-image-slice: 1;
            border-width: 10px;
            border-image-source: linear-gradient(to left, #00C853, #B2FF59);
        }

        .scanner-bar {
            background-image: linear-gradient(to left, #1bc800, #fff959);
            animation: linear-movement;
            animation-duration: 2s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }

        @keyframes linear-movement {
            0% {
                top: 120px
            }

            50% {
                top: 390px
            }

            100% {
                top: 120px
            }
        }
    </style>
</head>

<body class="bg-[#E7E2FF]">
    <div class="bg-[#f5b4e6] relative w-full h-full flex items-center justify-center">


        <div class="absolute top-16 left-[380px] h-16 w-16 rounded-full bg-[#e84949]"></div>


        <div class="absolute h-60 w-60 rounded-full bg-white bottom-6 right-[300px] z-10"></div>



        <div class="max-w-[1080px] w-11/12 mx-auto my-auto flex bg-[#e84949] relative min-h-[680px] rounded-3xl">
            <div
                class="bg-white flex flex-col gap-y-1 justify-center items-center w-[50%] rounded-3xl shadow-gray-500 shadow-lg content py-4">
                <h1 class="font-pop text-black text-2xl font-extrabold">
                    REGISTER
                </h1>
                <p class="font-pop">How do I get started?</p>

                <form action="" class="flex flex-col mt-2 gap-y-3" method="post">{% csrf_token %}

                    <div class="flex flex-col">
                        <label for="" class="">Student Name</label>
                        <input type="text" name="studentname"
                            class="h-12 w-60 border-gray-300 border-[1px] rounded-lg bg-[#f5b4e6] p-2 text-red-700 font-bold font-pop focus:border-none"
                            style="outline: none;" required>
                    </div>
                    <div class="flex flex-col">
                        <label for="" class="">Student Id</label>
                        <input type="number" name="studentid"
                            class="h-12 w-60 border-gray-300 border-[1px] rounded-lg bg-[#f5b4e6] p-2 text-red-700 font-bold font-pop focus:border-none"
                            style="outline: none;" required>
                    </div>

                    <div class="flex flex-col">
                        <label for="" class="">Email</label>
                        <input type="email" name="email"
                            class="h-12 w-60 border-gray-300 border-[1px] rounded-lg bg-[#f5b4e6] p-2 text-red-700 font-bold font-pop focus:border-none"
                            style="outline: none;" required>
                    </div>

                    <div class="flex flex-col">
                        <label for="" class="">Password</label>
                        <input type="password" name="password1"
                            class="h-12 w-60 border-gray-300 border-[1px] rounded-lg bg-[#f5b4e6] p-2 text-red-700 font-bold font-pop focus:border-none"
                            style="outline: none;" required>
                    </div>

                    <div class="flex flex-col">
                        <label for="" class="">Confirm Password</label>
                        <input type="password" name="password2"
                            class="h-12 w-60 border-gray-300 border-[1px] rounded-lg bg-[#f5b4e6] p-2 text-red-700 font-bold font-pop focus:border-none"
                            style="outline: none;" required>
                    </div>

                    <div class="flex flex-col">
                        <label for="domain" class="">Domain</label>
                        <select name="domain" id="domain" class="h-12 w-60 border-gray-300 border-[1px] rounded-lg bg-[#f5b4e6] p-2 text-red-700 font-bold font-pop focus:border-none">
                            <option value="NIL">Default</option>
                            <option value="App Development">App Development</option>
                            <option value="Web Development">Web Development</option>
                            <option value="Machine Learning">Machine Learning</option>
                            <option value="Cloud Computing">Cloud Computing</option>
                            <option value="Competitive Programming">Competitive Programming</option>
                            <option value="UI/UX Design">UI/UX Design</option>
                            <option value="IOT">IOT</option>
                        </select>
                    </div>

                    {% for field in registration_form %}
                    {% if field.errors %}
                    <p>
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% endfor %}
                    {% if registration_form.non_field_errors %}
                    <div style="color: red">
                        <p>{{registration_form.non_field_errors}}</p>
                    </div>
                    {% endif %}


            <button type="submit"
                class="mt-10 p-4 px-10 bg-[#e84949] rounded-lg shadow-black shadow-md text-white font-bold font-pop">REGISTER</button>
            </form>



            <div class="flex gap-x-2 font-pop mt-2">
                <p>Already have account?</p>
                <a href="{% url 'Login' %}" class="font-pop font-bold">Login</a>
            </div>

        </div>
        <div class="w-[50%] relative">
            <div class="absolute w-[300px] rounded-full h-[10px] scanner-bar top-[200] z-30 right-[120]"></div>
            <div class="absolute w-[350px] h-[320px] scanner top-[100] right-[100] rounded-3xl z-10"></div>
            <img src="../media/images/8f6ca0d9719dbc345b33465db44f06d9_Kgrn4jC.jpg"
                class="absolute h-[500px] w-[350px] rounded-3xl top-[100] right-[100]" alt="">
        </div>
    </div>
    </div>
</body>

</html>